#q3Tip {
  width: 50px;
}
#q3Total {
  width: 100px;
}
input {
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
}
input:hover {
  background-color: #e4dddd;
}
input:focus {
  background-color: #e4dddd;
}
body {
  margin: calc(100% - 98%);
  font-size: 18px;
  background-color: #ebebeb;
}
h1 {
  margin-bottom: 5px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
.result {
  font-size: x-large;
  font-weight: bolder;
  margin-top: 15px;
}
